<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:toolBars="http://java.sun.com/jsf/composite/ezcomp/toolbars"
                xmlns:dialogs="http://java.sun.com/jsf/composite/ezcomp/dialogs">

    <ui:define name="title">
        Branch
    </ui:define>


    <ui:define name="content">
        <p:panel header="Branch" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <toolBars:basicToolBar
                    newAction="#{branchMB.newAction()}"
                    saveAction="#{branchMB.saveAction()}"
                    reportBtnExporterFileName="Branch List"
                    deleteBtnOnClick="#{branchMB.onDeleteBtnClick()}"/>
                <p:growl id="msg" /> 



                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">


                    <p:outputLabel value="Name:" for="name" />
                    <p:inputText id="name" value="#{branchMB.branch.name}" title="Name" 
                                 required="true" requiredMessage="The Name field is required."/>
                    <p:message for="name" />

                </h:panelGrid>

            </h:form>

            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <p:dataTable id="tblList" value="#{branchMB.branchList}" var="item"
                             selection="#{branchMB.branch}" selectionMode="single" rowKey="#{item.id}">

                    <p:ajax update=":frmData:pnlData" event="rowSelect" />

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <dialogs:deleteConfirmDialog yesAction="#{branchMB.deleteAction()}" />

    </ui:define>

</ui:composition>
