<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        User
    </ui:define>


    <ui:define name="content">
        <p:panel header="User" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <p:toolbar>  
                    <p:toolbarGroup align="left">  
                        <p:commandButton  value="New" icon="ui-icon-document"
                                          actionListener="#{userMB.newAction}"
                                          update=":frmData:pnlData"
                                          process="@this"
                                          />  
                        <p:separator />  
                        <p:commandButton id="btnSave"
                                         title="Save" icon="ui-icon-disk"
                                         actionListener="#{userMB.saveAction}"
                                         update=":frmData:msg,:frmData:pnlData,:frmList:tblList"
                                         />  
                        <p:commandButton  title="Delete" icon="ui-icon-trash"
                                          onclick="dlgDeleteConfirm.show()"
                                          />  
                        <p:commandButton title="Print" icon="ui-icon-print" ajax="false" immediate="true">
                            <p:dataExporter type="pdf" target=":frmList:tblList" fileName="Users"/> 
                        </p:commandButton>  
                        <p:separator />
                        <p:commandButton value="Reset"
                                         actionListener="#{userMB.resetPassword}"
                                         update=":frmData:msg,:frmData:pnlData,:frmList:tblList"
                                         /> 
                    </p:toolbarGroup>  
                </p:toolbar>

                <p:defaultCommand target="btnSave" /> 

                <p:growl id="msg" />

                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">


                    <p:outputLabel value="UserName:" for="userName" />
                    <p:inputText id="userName" value="#{userMB.user.userName}" title="UserName" 
                                 required="true" requiredMessage="The UserName field is required."/>
                    <p:message for="userName" />

                    <p:outputLabel value="CreatedDate:" for="createdDate" />
                    <p:calendar id="createdDate" value="#{userMB.user.createdDate}" pattern="yyyy-MM-dd HH:mm:ss" 
                                required="true" requiredMessage="The CreatedDate field is required."
                                disabled="true"/>
                    <p:message for="createdDate" />

                    <p:outputLabel value="ModifiedDate:" for="modifiedDate" />
                    <p:calendar id="modifiedDate" value="#{userMB.user.modifiedDate}" pattern="yyyy-MM-dd HH:mm:ss" 
                                disabled="true"/>
                    <p:message for="modifiedDate" />

                    <p:outputLabel value="LastLogin:" for="lastLogin" />
                    <p:calendar id="lastLogin" value="#{userMB.user.lastLogin}" pattern="yyyy-MM-dd HH:mm:ss" 
                                disabled="true"/>
                    <p:message for="lastLogin" />

                    <p:outputLabel value="IsActive:" for="isActive" />
                    <p:selectBooleanButton id="isActive" value="#{userMB.user.isActive}" onLabel="Yes" offLabel="No" 
                                           required="true" requiredMessage="The IsActive field is required."/>
                    <p:message for="isActive" />

                    <p:outputLabel value="Role:" for="role" />
                    <p:selectOneMenu id="role" value="#{userMB.user.role}" 
                                     required="true" requiredMessage="The Role field is required."
                                     converter="#{roleConverter}"
                                     style="width: 150px;" panelStyleClass="panelStyle250">

                        <p:ajax listener="#{userMB.onRoleChange}" update="permission" />

                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{userMB.roleList}"  var="r" itemLabel="#{r.name}" itemValue="#{r}" />

                    </p:selectOneMenu>
                    <p:message for="role" />

                    <p:outputLabel value="Permissions:" for="permission" />
                    <p:selectCheckboxMenu  id="permission" value="#{userMB.selectedPermissionList}" label="Permissions" 
                                           filter="true" filterMatchMode="startsWith" 
                                           required="true" requiredMessage="The Permissions field is required."
                                           converter="#{permissionConverter}"
                                           style="width: 150px;" panelStyleClass="panelStyle250"
                                           >  
                        <f:selectItems value="#{userMB.permissionList}" var="p" itemLabel="#{p.name}" itemValue="#{p}"/>  
                    </p:selectCheckboxMenu> 
                    <p:message for="permission" />

                </h:panelGrid>

            </h:form>

             <p:spacer height="20" />
             <h3 style="font-weight: bold">User List</h3>
            <p:separator />
            <p:spacer height="10" />
            
            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <p:dataTable id="tblList" value="#{userMB.userList}" var="item"
                             selection="#{userMB.user}" selectionMode="single" rowKey="#{item.id}"
                             paginator="true" rows="20">

                    <p:ajax update=":frmData:pnlData" event="rowSelect" listener="#{userMB.onRecordSelect}"/>

                    <p:column headerText="UserName">
                        <h:outputText value="#{item.userName}"/>
                    </p:column>
                    <p:column headerText="Role">
                        <h:outputText value="#{item.role.name}"/>
                    </p:column>
                    <p:column headerText="CreatedDate">
                        <h:outputText value="#{item.createdDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="ModifiedDate">
                        <h:outputText value="#{item.modifiedDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="LastLogin">
                        <h:outputText value="#{item.lastLogin}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="IsActive">
                        <h:outputText value="#{item.isActive}"/>
                    </p:column>

                </p:dataTable>
            </h:form>


        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <p:confirmDialog  widgetVar="dlgDeleteConfirm" showEffect="fade" hideEffect="explode" 
                          message="Are you sure?" header="Delete" width="300">  
            <h:form id="frmDeleteConfirm" >
                <p:commandButton value="Yes"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 actionListener="#{userMB.deleteAction}" oncomplete="dlgDeleteConfirm.hide()"
                                 update=":frmData:msg,:frmData:pnlData,:frmList:tblList"/>  
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
                                 onclick="dlgDeleteConfirm.hide()" />  
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>

