<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="newAction" method-signature="void listener()" />
        <cc:attribute name="newActionUpdate" default=":frmData:pnlData" />
        <cc:attribute name="newActionDisabled" default="false" />
        <!-- SAVE BTN -->
        <cc:attribute name="saveAction" method-signature="void listener()" />
        <cc:attribute name="saveActionUpdate" default=":frmData:msg,:frmData:pnlData,:frmList:tblList" />
        <!-- DELETE BTN -->
        <cc:attribute name="deleteBtnOnClick" method-signature="void listner()" required="true" />
        <cc:attribute name="deleteBtnUpdate"  />
        <!-- PRINT BTN -->
        <cc:attribute name="reportBtnExporterTarget" default=":frmList:tblList" />
        <cc:attribute name="reportBtnExporterFileName" required="true" />
        <!-- SEARCH BTN -->
        <cc:attribute name="searchBtnIsEnable" default="false" type="java.lang.Boolean" />
        <cc:attribute name="searchBtnUpdate" default=":frmSearch:tblList" />
        <cc:attribute name="searchBtnOnComplete" default="dlgSearch.show()" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:toolbar>  
            <p:toolbarGroup align="left">  
                <p:commandButton  value="New" icon="ui-icon-document"
                                  actionListener="#{cc.attrs.newAction}"
                                  update="#{cc.attrs.newActionUpdate}"
                                  process="@this" async="true"
                                  disabled="#{cc.attrs.newActionDisabled}"
                                  >
                    <p:resetInput target="#{cc.attrs.newActionUpdate}" />
                </p:commandButton>
                <p:separator />  
                <p:commandButton id="btnSave"
                                 title="Save" icon="ui-icon-disk"
                                 actionListener="#{cc.attrs.saveAction}"
                                 update="#{cc.attrs.saveActionUpdate}"
                                 />  
                <p:commandButton  title="Delete" icon="ui-icon-trash"
                                  actionListener="#{cc.attrs.deleteBtnOnClick}"
                                  process="@this"
                                  />  
                <p:commandButton title="Print" icon="ui-icon-print" ajax="false" immediate="true">
                    <p:dataExporter type="pdf" target="#{cc.attrs.reportBtnExporterTarget}"
                                    fileName="#{cc.attrs.reportBtnExporterFileName}"/> 
                </p:commandButton>
                <c:if test="#{cc.attrs.searchBtnIsEnable}">
                    <p:separator/>
                    <p:commandButton title="Search" icon="ui-icon-search" oncomplete="dlgSearch.show()"
                                     update=":frmSearch:tblList" process="@this" />
                </c:if>
            </p:toolbarGroup>  
        </p:toolbar>

        <p:defaultCommand target="btnSave" /> 



    </cc:implementation>
</html>