<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/template/loginTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html">


    <ui:define name="title">
        Login
    </ui:define>

    <ui:define name="content">

        <h:panelGrid id="centerContainer" columns="1" >
            <p:panel id="pnlLogin" header="" >
                <h:form id="frmLogin" >
                    <h:panelGrid columns="2" cellpadding="5" cellspacing="5">
                        <p:graphicImage  url="resources/images/employee-30.png" />
                        <h2>LOGIN</h2>
                    </h:panelGrid>
                    <h:panelGrid columns="1" cellpadding="8" cellspacing="8"  >
                        <p:inputText id="txtUserName" 
                                     value="#{loginMB.userName}"
                                     required="true"
                                     requiredMessage="Please enter user namne"
                                     size="35"/>
                        <p:password id="txtPassword" 
                                    value="#{loginMB.password}"
                                    required="true"
                                    requiredMessage="Please enter password"
                                    size="35"/>
                    </h:panelGrid>
                    <p:watermark for="txtUserName" value="User Name" />
                    <p:watermark for="txtPassword" value="Password" />
                    <h:panelGrid columns="2" cellpadding="5" cellspacing="5" >
                        <p:commandButton value="Login" 
                                         actionListener="#{loginMB.login}"/>
                        <p:commandLink value="Forgot your password" 
                                       oncomplete="dlgMessage.show()"/>
                    </h:panelGrid>
                    <p:messages autoUpdate="true" />
                </h:form>
                <h:form>
                    <h:panelGrid columns="1" cellpadding="5" cellspacing="5">
                        <p:commandLink value="Register Now" action="createInquiry.xhtml?faces-redirect=true"/>
                    </h:panelGrid>
                </h:form>
            </p:panel>
        </h:panelGrid>

    </ui:define>
    
    <ui:define name="dialog">
        
        <p:dialog widgetVar="dlgMessage" header="Message" resizable="false" modal="true">
            <h:outputText value="Contact admin to reset password" />
        </p:dialog>
        
    </ui:define>

</ui:composition>
