<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../template/error.xhtml">

    <ui:define name="contentTitle">Sorry... The session has expired!</ui:define>
    <ui:define name="errorContent">
        <p><a href="#{requestScope['javax.servlet.error.request_uri']}">Back to initial page.</a></p>
    </ui:define>


</ui:composition>
