<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="inputTextId" required="true"/>
        <cc:attribute name="inputTextTitle" required="true"/>
        <cc:attribute name="isRequired" default="false"/>
        <cc:attribute name="inpuTextValue" required="true"/>
        <cc:attribute name="labelWidthClass" default="editInputLable60" />
        <cc:attribute name="inputTextSize" default="25" type="java.lang.Integer"/>
        <cc:attribute name="isNeedTrim" default="false" type="java.lang.Boolean"/>
        <!-- EVENTS -->
        <cc:attribute name="hasAjaxEvent" default="false" type="java.lang.Boolean"/>
        <cc:attribute name="ajaxEventName" default="keyup" type="java.lang.String"/>
        <cc:attribute name="ajaxListner"  method-signature="void listner()"/>
        <cc:attribute name="ajaxUpdate"  />
        <cc:attribute name="hasOnComplete" default="false" type="java.lang.Boolean"/>
        <cc:attribute name="ajaxOnComplete"  />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:panelGrid columns="3" cellpadding="5" cellspacing="5" >
            <p:outputLabel value="#{cc.attrs.inputTextTitle}:" for="#{cc.attrs.inputTextId}" styleClass="#{cc.attrs.labelWidthClass}"/>
            <p:inputText id="#{cc.attrs.inputTextId}" 
                         value="#{cc.attrs.inpuTextValue}"
                         title="#{cc.attrs.inputTextTitle}"
                         required="#{cc.attrs.isRequired}" requiredMessage="The #{cc.attrs.inputTextTitle} field is required."
                         size="#{cc.attrs.inputTextSize}">

                <c:if test="#{cc.attrs.isNeedTrim}">
                    <f:attribute name="onblur" value="trimTextFiled(this);"/>
                </c:if>

            </p:inputText>
            <p:message for="#{cc.attrs.inputTextId}" />
        </h:panelGrid>
    </cc:implementation>
</html>