<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:panelGrid id="footer" styleClass="gradient" columns="2"  style="width: 100%; ">
        <h5>Copyright @ CBCIT Solutions </h5>
        <p:ajaxStatus style="float: right; width: 220px; height: 20px; " >  
            <f:facet name="start">  
                <h:graphicImage value="../../resources/images/ajax-loader.gif" />  
            </f:facet>  

            <f:facet name="complete">  
                <h:outputText value="" />  
            </f:facet>  
        </p:ajaxStatus>
    </h:panelGrid>

</html>

