<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:panelGrid id="header" styleClass="gradient" columns="3" >
        <h:panelGrid id="nameContainer" columns="2" >
            <p:graphicImage id="logo" url="resources/images/hr_icon.jpg" />
            <h:panelGrid columns="1" >
               <h1 >Expense Management System</h1>
                <h4 >Version 1.0</h4>                
            </h:panelGrid>
        </h:panelGrid>
        <h:panelGrid columns="1" >
            <!-- EMPTY -->
        </h:panelGrid>
        <h:panelGrid id="userContainer" columns="2" >
            <!-- EMPTY -->
        </h:panelGrid>
    </h:panelGrid>

</html>

