<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:panelGrid id="header" styleClass="gradient" columns="3" >
        <h:panelGrid id="nameContainer" columns="2" >
            <p:graphicImage id="logo" url="../../resources/images/hr_icon.jpg" />
            <h:panelGrid columns="1" >
                <h1 >Expense Management System</h1>
                <h4 >Version 1.0</h4>              
            </h:panelGrid>
        </h:panelGrid>
        <h:panelGrid columns="1" >
            <!-- EMPTY -->
        </h:panelGrid>
        <h:panelGrid id="userContainer" columns="2" >
<!--            <p:graphicImage id="loggedUser" url="#{userLoginMB.userImage}" cache="false" />-->
            <h:panelGrid columns="1" >
                <h4>Hi #{loginMB.loggedUserName}</h4>
                <h:form id="frmLogout">
                    <p:splitButton value="Logout"   
                                   icon="ui-icon-disk"
                                   actionListener="#{loginMB.logout}">  
                        <p:menuitem value="Change Password" oncomplete="dlgPasswordChange.show()" update=":frmPasswordChange:pnlPasswordChange"/>
                        <p:separator />  
                        <p:menuitem value="About" oncomplete="dlgAbout.show()"/>  
                    </p:splitButton> 
                </h:form>
            </h:panelGrid>
        </h:panelGrid>
    </h:panelGrid>

</html>

