<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:form id="frmNavigation">
        <p:panelMenu style="width:190px"> 
            <p:submenu label="Dashboard" >  
                <p:menuitem value="Home"  action="adminDashboard?faces-redirect=true"
                            icon="ui-icon-home" rendered="#{navigationMB.isAdmin}"/>
                <p:menuitem value="Home"  action="dataentryDashboard?faces-redirect=true"
                            icon="ui-icon-home"  rendered="#{navigationMB.isDataEntry}"/>  

            </p:submenu> 
            <p:submenu label="User"  rendered="#{navigationMB.isAdmin}">
                <p:menuitem value="Manage"  action="user?faces-redirect=true"
                            icon="ui-icon-home" />  
                <p:menuitem value="Branch"  action="branch?faces-redirect=true"
                            icon="ui-icon-home" />  

            </p:submenu>

            <p:submenu label="Data"  rendered="#{navigationMB.isDataEntry}">
                <p:menuitem value="Expense Main Type"  action="expenseMainType?faces-redirect=true"
                            icon="ui-icon-home" />  
                <p:menuitem value="Expense Sub Type"  action="expenseSubType?faces-redirect=true"
                            icon="ui-icon-home" />  

            </p:submenu>


            <p:submenu label="Expense"  rendered="#{navigationMB.isDataEntry}">
                <p:menuitem value="Recurring Expense"  action="recurringExpense?faces-redirect=true"
                            icon="ui-icon-home" />  
                <p:menuitem value="Expense"  action="expense?faces-redirect=true"
                            icon="ui-icon-home" /> 
                <p:menuitem value="Expense Payment"  action="expensePayment?faces-redirect=true"
                            icon="ui-icon-home" /> 
                <p:menuitem value="Expense Refund"  action="expenseRefund?faces-redirect=true"
                            icon="ui-icon-home" /> 

            </p:submenu>

            <p:submenu label="Reports"  rendered="#{navigationMB.isDataEntry}">
                <p:menuitem value="Expense Summary"  action="expenseSummary?faces-redirect=true"
                            icon="ui-icon-home" />
                <p:menuitem value="Payment Summary"  action="paymentSummary?faces-redirect=true"
                            icon="ui-icon-home" />
            </p:submenu>

        </p:panelMenu>
        <p:spacer height="5" />
        <p:calendar mode="inline" />
    </h:form>

</html>

