<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="message" default="Are you sure?" />
        <cc:attribute name="yesAction" method-signature="void listner()" />
        <cc:attribute name="yesUpdate" default=":frmData:msg,:frmData:pnlData,:frmList:tblList"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:confirmDialog  widgetVar="dlgDeleteConfirm" showEffect="fade" hideEffect="explode" 
                          message="Are you sure?" header="Delete" width="300">  
            <h:form id="frmDeleteConfirm" >
                <p:commandButton value="Yes"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 actionListener="#{cc.attrs.yesAction}" oncomplete="dlgDeleteConfirm.hide()"
                                 update="#{cc.attrs.yesUpdate}"/>  
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
                                 onclick="dlgDeleteConfirm.hide()" />  
            </h:form>
        </p:confirmDialog>
    </cc:implementation>
</html>