<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
          <!-- WEB ICON -->
       <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico"/>

        <title>
            <ui:insert name="title" >
                Page Title
            </ui:insert>
            <ui:insert name="style" >
                 <h:outputStylesheet library="css" name="main.css" />
            </ui:insert>
        </title>
    </h:head>

    <h:body>
        <p:layout fullPage="true" >
            <p:layoutUnit position="north" size="83">
                <ui:insert name="header" >
                    <ui:include src="components/header.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="34">
                <ui:insert name="footer" >
                    <ui:include src="components/footer.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="center" >
                <ui:insert name="content" >
                    Content
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
        
           <ui:insert name="dialog" >
            dialogs
        </ui:insert>



    </h:body>

</html>
