<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <!-- WEB ICON -->
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico"/>

        <title>
            <ui:insert name="title" >
                Page Title
            </ui:insert>
        </title>
        <ui:insert name="style" >
            <h:outputStylesheet library="css" name="main.css" />

        </ui:insert>

        <script type="text/javascript" >
            
            function trimTextFiled(inpuText){
                var str=inpuText.value.trimLeft();
                inpuText.value=str;
            }
            
        </script>

    </h:head>

    <h:body >
        <p:layout fullPage="true" >
            <p:layoutUnit position="north" size="83">
                <ui:insert name="header" >
                    <ui:include src="components/headerLogged.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="west" size="200" header="Menu" collapsible="true">
                <ui:insert name="navigation" >
                    <ui:include src="components/navigation.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="34">
                <ui:insert name="footer" >
                    <ui:include src="components/footerLogged.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="center" size="80">
                <ui:insert name="content" >
                    Content
                </ui:insert>
            </p:layoutUnit>
        </p:layout>


        <ui:insert name="dialog" >

        </ui:insert>

        <p:dialog widgetVar="dlgPasswordChange" header="Password Change" closable="true" modal="true" >
            <h:form id="frmPasswordChange">
                <h:panelGrid  id="pnlPasswordChange" columns="3" cellpadding="10" cellspacing="10">
                    <p:outputLabel value="New Password" for="txtNewPassword" />
                    <p:password id="txtNewPassword"
                                value="#{userMB.newPassowrd}" 
                                required="true" requiredMessage="Please enter new password" />
                    <p:message for="txtNewPassword" />
                    <p:outputLabel value="Confirm Password" for="txtConfirmPassword" />
                    <p:password id="txtConfirmPassword"
                                value="#{userMB.confirmPassword}" 
                                required="true" requiredMessage="Please enter new password" />
                    <p:message for="txtConfirmPassword" />
                </h:panelGrid>
                <p:commandButton value="Change" 
                                 actionListener="#{userMB.changePassword}"
                                 update="pnlPasswordChange,msgPasswordChange" />
                <p:messages id="msgPasswordChange" />
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="dlgAbout" header="About" closable="true" modal="true" >
            <h:panelGrid columns="1" cellpadding="10" cellspacing="10" >
                <h3>Copyright @ CBCIT Solutions </h3>
            </h:panelGrid>
        </p:dialog>


        <!-- IDLE MODE -->
        <p:idleMonitor timeout="600000"  onidle="idleDialog.show()" />  

        <p:dialog header="What's happening?" resizable="false" closable="false" widgetVar="idleDialog" modal="true" width="350">  
            <h:form>
                <h:panelGrid columns="1" cellpadding="5" cellspacing="5" >
                    <h:outputText value="Dude, are you there?" /> 
                    <p:commandButton value="Yes" ajax="false" />
                </h:panelGrid>
            </h:form>
        </p:dialog> 

    </h:body>

</html>
