<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Dashboard
    </ui:define>

    <ui:define name="content">
       
 
    </ui:define>

    <ui:define name="dialog">
        dialog
    </ui:define>

</ui:composition>
