<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:toolBars="http://java.sun.com/jsf/composite/ezcomp/toolbars"
                xmlns:dialogs="http://java.sun.com/jsf/composite/ezcomp/dialogs">

    <ui:define name="title">
        Expense
    </ui:define>


    <ui:define name="content">
        <p:panel header="Expense" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <toolBars:basicToolBar
                    newAction="#{expenseMB.newAction()}" newActionUpdate=":frmData:pnlData,:frmList:tblList,:frmData:msg"
                    saveAction="#{expenseMB.saveAction()}" saveActionUpdate=":frmList:tblList,:frmData:msg"
                    reportBtnExporterFileName="Branch List"
                    deleteBtnOnClick="#{expenseMB.onDeleteBtnClick()}"/>
                <p:growl id="msg" /> 



                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">
                    
                    <p:outputLabel value="ExpenseMainType:" for="expenseMainType" />
                    <p:selectOneMenu id="expenseMainType" value="#{expenseMB.selectedExpenseMainType}" 
                                     required="true" requiredMessage="The ExpenseMainType field is required."
                                     style="width: 150px;" panelStyleClass="panelStyle250"
                                     converter="#{expenseMainTypeConverter}">
                        <p:ajax listener="#{expenseMB.onExpenseMainTypeSelect()}" update="expenseSubType" />
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{applicationMB.expenseMainTypeList}" var="exm" itemLabel="#{exm.name}" itemValue="#{exm}"/>
                    </p:selectOneMenu>
                    <p:message for="expenseMainType" />
                    
                    <p:outputLabel value="ExpenseSubType:" for="expenseSubType" />
                    <p:selectOneMenu id="expenseSubType" value="#{expenseMB.expense.expenseSubType}" 
                                     required="true" requiredMessage="The ExpenseSubType field is required."
                                     style="width: 150px;" panelStyleClass="panelStyle250"
                                     converter="#{expenseSubTypeConverter}">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{expenseMB.expenseSubTypeList}" var="exs" itemLabel="#{exs.name}" itemValue="#{exs}"/>
                    </p:selectOneMenu>
                    <p:message for="expenseSubType" />

                    <p:outputLabel value="Name:" for="name" />
                    <p:inputTextarea id="name" value="#{expenseMB.expense.name}" title="Name" rows="3" cols="25"/>
                    <p:message for="name" />

                    <p:outputLabel value="ExpenseNo:" for="expenseNo" />
                    <p:inputText id="expenseNo" value="#{expenseMB.expense.expenseNo}" title="ExpenseNo" 
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="expenseNo" />

                    <p:outputLabel value="ExpenseAmount:" for="expenseAmount" />
                    <p:inputText id="expenseAmount" value="#{expenseMB.expense.expenseAmount}" title="ExpenseAmount" 
                                 required="true" requiredMessage="The ExpenseAmount field is required."
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="expenseAmount" />

                    <p:outputLabel value="ExpenseDate:" for="expenseDate" />
                    <p:calendar id="expenseDate" value="#{expenseMB.expense.expenseDate}" pattern="yyyy-MM-dd" 
                                required="true" requiredMessage="The ExpenseDate field is required." />
                    <p:message for="expenseDate" />

                    <p:outputLabel value="ExpenseType:" for="expenseType" />
                    <p:inputText id="expenseType" value="#{expenseMB.expense.expenseType}" title="ExpenseType" 
                                 required="true" requiredMessage="The ExpenseType field is required."
                                 onblur="trimTextFiled(this);" disabled="true"/>
                    <p:message for="expenseType" />

                    <p:outputLabel value="RecurringExpense:" for="recurringExpense" />
                    <p:inputText id="recurringExpense" value="#{expenseMB.expense.recurringExpense}" 
                                 disabled="true"/>
                    <p:message for="recurringExpense" />


                    

                </h:panelGrid>

            </h:form>

            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <p:dataTable id="tblList" value="#{expenseMB.expenseList}" var="item"
                             selection="#{expenseMB.expense}" selectionMode="single" rowKey="#{item.id}">

                    <p:ajax update=":frmData:pnlData" event="rowSelect" listener="#{expenseMB.onSelectExpense}" />

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}"/>
                    </p:column>
                    <p:column headerText="Main Type">
                        <h:outputText value="#{item.expenseSubType.expenseMainType.name}"/>
                    </p:column>
                    <p:column headerText="Sub Type">
                        <h:outputText value="#{item.expenseSubType.name}"/>
                    </p:column>
                    <p:column headerText="Date">
                        <h:outputText value="#{item.expenseDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Amount">
                        <h:outputText value="#{item.expenseAmount}"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <dialogs:deleteConfirmDialog yesAction="#{expenseMB.deleteAction()}" />

    </ui:define>

</ui:composition>
