<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Expense Summary
    </ui:define>


    <ui:define name="content">
        <p:panel header=" Expense Summary" >
            <h:form id="frmList">
                <h:panelGrid id="pnlSearch" columns="13" cellpadding="5" cellspacing="5" >
                    <p:outputLabel value="Search by"/>
                    <p:selectOneMenu value="#{expenseSummaryMB.searchBy}"
                                     style="width: 150px;" panelStyleClass="panelStyle250">
                        <p:ajax listener="#{expenseSummaryMB.onSearchBySelect()}" update="pnlSearch" process="@this" />
                        <f:selectItem itemLabel="Date" itemValue="Date" />
                        <f:selectItem itemLabel="Expense Main Type" itemValue="MainType" />
                        <f:selectItem itemLabel="Expense Main Type And Expense Sub Type" itemValue="SubType" />
                        <f:selectItem itemLabel="Type" itemValue="Type" />
                        <f:selectItem itemLabel="Type And Expense Main Type And Expense Sub Type" itemValue="TypeAndMainType" />
                        <f:selectItem itemLabel="Type And Expense Main Type And Expense Sub Type" itemValue="TypeAndSubType" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Date" rendered="#{expenseSummaryMB.isDate}" />
                    <p:calendar value="#{expenseSummaryMB.date1}" rendered="#{expenseSummaryMB.isDate}"/>
                    <p:calendar value="#{expenseSummaryMB.date2}" rendered="#{expenseSummaryMB.isDate}"/>
                    <p:outputLabel value="Expense Main Type" rendered="#{expenseSummaryMB.isMainType}"/>
                    <p:selectOneMenu value="#{expenseSummaryMB.selectedExpenseMainType}"
                                     style="width: 150px;" panelStyleClass="panelStyle250"
                                     converter="#{expenseMainTypeConverter}"
                                     rendered="#{expenseSummaryMB.isMainType}">
                        <p:ajax listener="#{expenseSummaryMB.onExpenseMainTypeSelect()}" update="expenseSubType" />
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{applicationMB.expenseMainTypeList}" var="m" itemLabel="#{m.name}" itemValue="#{m}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Expense Sub Type" rendered="#{expenseSummaryMB.isSubType}"/>
                    <p:selectOneMenu  id="expenseSubType" value="#{expenseSummaryMB.selectedExpenseSubType}"
                                      style="width: 150px;" panelStyleClass="panelStyle250"
                                      converter="#{expenseSubTypeConverter}"
                                      rendered="#{expenseSummaryMB.isSubType}">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{expenseSummaryMB.expenseSubTypeList}" var="s" itemLabel="#{s.name}" itemValue="#{s}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Type" rendered="#{expenseSummaryMB.isType}"/>
                    <p:selectOneMenu value="#{expenseSummaryMB.expenseType}"
                                     style="width: 150px;" panelStyleClass="panelStyle250"
                                     rendered="#{expenseSummaryMB.isType}">
                        <f:selectItem itemLabel="Regular" itemValue="Regular" />
                        <f:selectItem itemLabel="Recurring" itemValue="Recurring" />
                    </p:selectOneMenu>
                    <p:commandButton value="Search" actionListener="#{expenseSummaryMB.searchAction()}" update=":frmList:tblList,:frmList:pnlTotals" />
                    <h:commandLink value="Print"  actionListener="#{expenseSummaryMB.reportAction()}" />
                </h:panelGrid>


                <p:dataTable id="tblList" value="#{expenseSummaryMB.expenseList}" var="item" rowKey="#{item.id}" selectionMode="single"
                             rowIndexVar="rowIndex" paginator="true" rows="25">

                    <p:column headerText="#">
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>
                    <p:column headerText="ExpenseDate">
                        <h:outputText value="#{item.expenseDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Categorey">
                        <h:outputText value="#{item.expenseType}"/>
                    </p:column>
                    <p:column headerText="Main Type">
                        <h:outputText value="#{item.expenseSubType.expenseMainType.name}"/>
                    </p:column>
                    <p:column headerText="Sub Type">
                        <h:outputText value="#{item.expenseSubType.name}"/>
                    </p:column>
                    <p:column headerText="ExpenseAmount">
                        <h:outputText value="#{item.expenseAmount}"/>
                    </p:column>
                    <p:column headerText="Paid Amount">
                        <h:outputText value="#{item.expensePaidAmount}"/>
                    </p:column>
                    <p:column headerText="Balance Amount">
                        <h:outputText value="#{item.expenseBalanceAmount}"/>
                    </p:column>
                </p:dataTable>
                <h:panelGrid id="pnlTotals" columns="10" cellpadding="5" cellspacing="5" >
                    <p:outputLabel value="Total Records" />
                    <p:inputText value="#{expenseSummaryMB.totalRecords}" disabled="true" />
                    <p:outputLabel value="Total Amount" />
                    <p:inputText value="#{expenseSummaryMB.totalAmount}" disabled="true" />
                    <p:outputLabel value="Total Paid" />
                    <p:inputText value="#{expenseSummaryMB.totalPaidAmount}" disabled="true" />
                    <p:outputLabel value="Total Balance" />
                    <p:inputText value="#{expenseSummaryMB.totalBalanceAmount}" disabled="true" />
                </h:panelGrid>


            </h:form>

        </p:panel>
    </ui:define>


</ui:composition>
