<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:toolBars="http://java.sun.com/jsf/composite/ezcomp/toolbars"
                xmlns:dialogs="http://java.sun.com/jsf/composite/ezcomp/dialogs">

    <ui:define name="title">
        ExpenseRefund
    </ui:define>


    <ui:define name="content">
        <p:panel header="ExpenseRefund" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <toolBars:basicToolBar
                    newAction="#{expenseRefundMB.newAction()}" 
                    newActionUpdate=":frmData:pnlData,:frmData:pnlData1,:frmData:pnlExpensePaymentList,:frmList:tblList"
                    saveAction="#{expenseRefundMB.saveAction()}"
                    reportBtnExporterFileName="ExpenseRefund List"
                    deleteBtnOnClick="#{expenseRefundMB.onDeleteBtnClick()}"/>
                <p:growl id="msg" /> 



                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">
  

                </h:panelGrid>
                <h:panelGrid id="pnlExpensePaymentList" columns="2" cellpadding="5" cellspacing="5">
                    <h3><h:outputText value="Payment List"/></h3>
                    <p:dataTable value="#{expenseRefundMB.expensePaymentList}" var="item"
                                 selection="#{expenseRefundMB.expenseRefund.expensePayment}" selectionMode="single"
                                 rowKey="#{item.id}">
                        <p:ajax event="rowSelect" update=":frmData:pnlData1, :frmList:tblList"
                                listener="#{expenseRefundMB.onSelectExpensePayment()}"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="PaymentDate"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Description"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>

                        <p:column headerText="Expense ">
                            <h:outputText value="#{item.expenseid.name}"/>
                        </p:column>
                        <p:column headerText="Expense Main Type">
                            <h:outputText value="#{item.expenseid.expenseSubType.expenseMainType.name}"/>
                        </p:column>
                        <p:column headerText="Expense Sub Type">
                            <h:outputText value="#{item.expenseid.expenseSubType.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Expense Amount"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseid.expenseAmount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Paid Amount"/>
                            </f:facet>
                            <h:outputText value="#{item.amount}"/>
                        </p:column>
                        <p:column headerText="Balance Amount">
                            <h:outputText value="#{item.expenseid.expenseBalanceAmount}"/>
                        </p:column>
                    </p:dataTable>

                </h:panelGrid>
                <h:panelGrid id="pnlData1" columns="3" cellpadding="5" cellspacing="5">

                    <p:outputLabel value="ExpensePayment:" for="expensePayment" />
                    <p:inputText id="expensePayment" value="#{expenseRefundMB.expenseRefund.expensePayment.amount}" 
                                 required="true" requiredMessage="The ExpensePayment field is required." />
                    <p:message for="expensePayment" />


                    <p:outputLabel value="RefundDate:" for="refundDate" />
                    <p:calendar id="refundDate" value="#{expenseRefundMB.expenseRefund.refundDate}" pattern="yyyy-MM-dd" 
                                required="true" requiredMessage="The PaymentDate field is required." />
                    <p:message for="refundDate" />

                    <p:outputLabel value="Amount:" for="amount" />
                    <p:inputText id="amount" value="#{expenseRefundMB.expenseRefund.amount}" title="Amount" 
                                 required="true" requiredMessage="The Amount field is required."
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="amount" />

                    <p:outputLabel value="Description:" for="description" />
                    <p:inputTextarea rows="4" cols="30" id="description" value="#{expenseRefundMB.expenseRefund.description}" title="Description" 
                                     />
                    <p:message for="description" />



                </h:panelGrid>


            </h:form>

            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <p:dataTable id="tblList" value="#{expenseRefundMB.expenseRefundList}" var="item"
                             selection="#{expenseRefundMB.expenseRefund}" selectionMode="single" rowKey="#{item.id}"
                             rowIndexVar="rowIndex">

                    <p:ajax event="rowSelect" update=":frmData:pnlData,:frmData:pnlData1" />

                    <p:column headerText="#">
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>
                    <p:column headerText="Amount">
                        <h:outputText value="#{item.amount}"/>
                    </p:column>Paid Date>
                    <p:column headerText="Paid Date">
                        <h:outputText value="#{item.expensePayment.paymentDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Paid Amount">
                        <h:outputText value="#{item.expensePayment.amount}"/>
                    </p:column>
                    <p:column headerText="Balance Amount">
                        <h:outputText value="#{item.expensePayment.expenseid.expenseBalanceAmount}"/>
                    </p:column>
                    <p:column headerText="Refund Date">
                        <h:outputText value="#{item.refundDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Description">
                        <h:outputText value="#{item.description}"/>
                    </p:column>
                    <p:column headerText="Expense Main Type">
                        <h:outputText value="#{item.expensePayment.expenseid.expenseSubType.expenseMainType.name}"/>
                    </p:column>
                    <p:column headerText="Expense Sub Type">
                        <h:outputText value="#{item.expensePayment.expenseid.expenseSubType.name}"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <dialogs:deleteConfirmDialog yesAction="#{expenseRefundMB.deleteAction()}" />

    </ui:define>

</ui:composition>
