<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:toolBars="http://java.sun.com/jsf/composite/ezcomp/toolbars"
                xmlns:dialogs="http://java.sun.com/jsf/composite/ezcomp/dialogs">

    <ui:define name="title">
        ExpenseSubType
    </ui:define>


    <ui:define name="content">
        <p:panel header="ExpenseSubType" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <toolBars:basicToolBar
                    newAction="#{expenseSubTypeMB.newAction()}"
                    saveAction="#{expenseSubTypeMB.saveAction()}"
                    reportBtnExporterFileName="Branch List"
                    deleteBtnOnClick="#{expenseSubTypeMB.onDeleteBtnClick()}"/>
                <p:growl id="msg" /> 



                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">


                    <p:outputLabel value="Name:" for="name" />
                    <p:inputText id="name" value="#{expenseSubTypeMB.expenseSubType.name}" title="Name" 
                                 required="true" requiredMessage="The Name field is required."/>
                    <p:message for="name" />
                    <p:outputLabel value="ExpenseMainType:" for="expenseMainType" />
                    <p:selectOneMenu id="expenseMainType" value="#{expenseSubTypeMB.expenseSubType.expenseMainType}"  
                                 required="true" requiredMessage="The ExpenseMainType field is required."
                                 converter="#{expenseMainTypeConverter}"
                                 style="width: 150px;" panelStyleClass="panelStyle250">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                        <f:selectItems value="#{applicationMB.expenseMainTypeList}" 
                                       var="e" itemLabel="#{e.name}" itemValue="#{e}"/>
                    </p:selectOneMenu>
                    <p:message for="expenseMainType" />

                </h:panelGrid>

            </h:form>
            
            <p:spacer height="20" />
            <h3 style="font-weight: bold">SubType List</h3>
            <p:separator />
            <p:spacer height="10" />

            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <h:panelGrid   columns="3" cellpadding="5" cellspacing="5">
                    <p:outputLabel value="Search by MainType:"/>
                    <p:selectOneMenu id="earchMainType" value="#{expenseSubTypeMB.searchExpenseMainType}" 
                                     converter="#{expenseMainTypeConverter}"
                                     style="width: 150px;" panelStyleClass="panelStyle250">
                        <f:selectItem itemLabel="All" itemValue="#{null}" />
                        <f:selectItems value="#{applicationMB.expenseMainTypeList}"  var="e" itemLabel="#{e.name}" itemValue="#{e}"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Search" actionListener="#{expenseSubTypeMB.searchByMainType()}" update=":frmList:tblList" />
                </h:panelGrid>
                
                <p:dataTable id="tblList" value="#{expenseSubTypeMB.expenseSubTypeList}" var="item"
                             selection="#{expenseSubTypeMB.expenseSubType}" selectionMode="single" rowKey="#{item.id}">

                    <p:ajax update=":frmData:pnlData" event="rowSelect" />

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}"/>
                    </p:column>
                    <p:column headerText="ExpenseMainType">
                        <h:outputText value="#{item.expenseMainType.name}"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <dialogs:deleteConfirmDialog yesAction="#{expenseSubTypeMB.deleteAction()}" />

    </ui:define>

</ui:composition>
