<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:toolBars="http://java.sun.com/jsf/composite/ezcomp/toolbars"
                xmlns:dialogs="http://java.sun.com/jsf/composite/ezcomp/dialogs">

    <ui:define name="title">
        ExpensePayment
    </ui:define>


    <ui:define name="content">
        <p:panel header="ExpensePayment" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <toolBars:basicToolBar
                    newAction="#{expensePaymentMB.newAction()}" 
                    newActionUpdate=":frmData:pnlData,:frmData:pnlData1,:frmData:pnlExpenseList,:frmList:tblList"
                    saveAction="#{expensePaymentMB.saveAction()}"
                    saveActionUpdate=":frmData:pnlData,:frmData:pnlData1,:frmData:pnlExpenseList,:frmList:tblList"
                    reportBtnExporterFileName="ExpensePayment List"
                    deleteBtnOnClick="#{expensePaymentMB.onDeleteBtnClick()}"/>
                <p:growl id="msg" autoUpdate="true" /> 



                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">





                </h:panelGrid>
                <h:panelGrid id="pnlExpenseList"  columns="2" cellpadding="5" cellspacing="5">
                    <h3><h:outputText value="Expense List"/></h3>
                    <p:dataTable value="#{expensePaymentMB.expenseList}" var="item"
                                 selection="#{expensePaymentMB.expensePayment.expenseid}" selectionMode="single" rowKey="#{item.id}">
                        <p:ajax event="rowSelect" update=":frmData:pnlData1,:frmList:tblList,:frmData:pnlData1" listener="#{expensePaymentMB.onSelectExpense}"/>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseName"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseSubType"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseSubType.expenseMainType.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseSubType"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseSubType.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseSubType"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseType}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseDate"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd " />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseAmount"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseAmount}"/>
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpensePaidAmount"/>
                            </f:facet>
                            <h:outputText value="#{item.expensePaidAmount}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ExpenseBalanceAmount"/>
                            </f:facet>
                            <h:outputText value="#{item.expenseBalanceAmount}"/>
                        </p:column>
                        
                        
                    </p:dataTable>
                </h:panelGrid>
                <h:panelGrid id="pnlData1"  columns="3" cellpadding="5" cellspacing="5">
                    
                    <p:outputLabel value="Expense:" for="expenseid" />
                    <p:inputText id="expenseid" value="#{expensePaymentMB.expensePayment.expenseid.expenseAmount}" 
                                 readonly="true"/>
                    <p:message for="expenseid" />

                    <p:outputLabel value="PaymentDate:" for="paymentDate" />
                    <p:calendar id="paymentDate" value="#{expensePaymentMB.expensePayment.paymentDate}" pattern="yyyy-MM-dd" 
                                required="true" requiredMessage="The PaymentDate field is required." />
                    <p:message for="paymentDate" />

                    <p:outputLabel value="Payable Amount:" for="paybleamount" />
                    <p:inputText id="paybleamount" value="#{expensePaymentMB.payableAmount}" title="Amount" 
                                 required="true" readonly="true" requiredMessage="The Amount field is required."
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="paybleamount" />

                    <p:outputLabel value="Paid Amount:" for="paidAmount" />
                    <p:inputText id="paidAmount" value="#{expensePaymentMB.paidAmount}" title="Amount" 
                                 required="true" readonly="true" requiredMessage="The Amount field is required."
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="paidAmount" />

                    <p:outputLabel value="Due Amount:" for="dueAmount" />
                    <p:inputText id="dueAmount" value="#{expensePaymentMB.dueAmount}" title="Amount" 
                                 required="true" readonly="true" requiredMessage="The Amount field is required."
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="dueAmount" />

                    <p:outputLabel value="Amount:" for="amount" />
                    <p:inputText id="amount" value="#{expensePaymentMB.expensePayment.amount}" title="Amount" 
                                 required="true" requiredMessage="The Amount field is required."
                                 onblur="trimTextFiled(this);"/>
                    <p:message for="amount" />

                    <p:outputLabel value="Description:" for="description" />
                    <p:inputTextarea rows="4" cols="30" id="description" value="#{expensePaymentMB.expensePayment.description}" title="Description" 
                                     />
                    <p:message for="description" />

                </h:panelGrid>

            </h:form>

            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <p:dataTable id="tblList" value="#{expensePaymentMB.expensePaymentList}" var="item"
                             selection="#{expensePaymentMB.expensePayment}" selectionMode="single" rowKey="#{item.id}">

                    <p:ajax update=":frmData:pnlData" event="rowSelect" />

                    <p:column headerText="Expense Main Type">
                        <h:outputText value="#{item.expenseid.expenseSubType.expenseMainType.name}"/>
                    </p:column>
                    <p:column headerText="Expense Sub Type">
                        <h:outputText value="#{item.expenseid.expenseSubType.name}"/>
                    </p:column>
                    <p:column headerText="Expense Type">
                        <h:outputText value="#{item.expenseid.expenseType}"/>
                    </p:column>
                    <p:column headerText="Paid Amount">
                        <h:outputText value="#{item.amount}"/>
                    </p:column>
                    <p:column headerText="Paid Date">
                        <h:outputText value="#{item.paymentDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Description">
                        <h:outputText value="#{item.description}"/>
                    </p:column>

                </p:dataTable>
            </h:form>

        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <dialogs:deleteConfirmDialog yesAction="#{expensePaymentMB.deleteAction()}" />

    </ui:define>

</ui:composition>
