<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Payment Summary
    </ui:define>


    <ui:define name="content">
        <p:panel header=" Payment Summary" >
            <h:form id="frmList">
                <h:panelGrid id="pnlSearch" columns="13" cellpadding="5" cellspacing="5" >
                    <p:outputLabel value="Search by"/>
                    <p:selectOneMenu value="#{paymentSummaryMB.searchBy}"
                                     style="width: 150px;" panelStyleClass="panelStyle250">
                        <p:ajax listener="#{paymentSummaryMB.onSearchBySelect()}" update="pnlSearch" process="@this" />
                        <f:selectItem itemLabel="Date" itemValue="Date" />
                        <f:selectItem itemLabel="Expense Main Type" itemValue="MainType" />
                        <f:selectItem itemLabel="Expense Main Type And Expense Sub Type" itemValue="SubType" />
                        <f:selectItem itemLabel="Type" itemValue="Type" />
                        <f:selectItem itemLabel="Type And Expense Main Type And Expense Sub Type" itemValue="TypeAndMainType" />
                        <f:selectItem itemLabel="Type And Expense Main Type And Expense Sub Type" itemValue="TypeAndSubType" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Date" rendered="#{paymentSummaryMB.isDate}" />
                    <p:calendar value="#{paymentSummaryMB.date1}" rendered="#{paymentSummaryMB.isDate}"/>
                    <p:calendar value="#{paymentSummaryMB.date2}" rendered="#{paymentSummaryMB.isDate}"/>
                    <p:outputLabel value="Expense Main Type" rendered="#{paymentSummaryMB.isMainType}"/>
                    <p:selectOneMenu value="#{paymentSummaryMB.expenseMainType}"
                                     style="width: 150px;" panelStyleClass="panelStyle250"
                                     converter="#{expenseMainTypeConverter}"
                                     rendered="#{paymentSummaryMB.isMainType}">
                        <p:ajax listener="#{paymentSummaryMB.onExpenseMainTypeSelect()}" update="expenseSubType" />
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{applicationMB.expenseMainTypeList}" var="m" itemLabel="#{m.name}" itemValue="#{m}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Expense Sub Type" rendered="#{paymentSummaryMB.isSubType}"/>
                    <p:selectOneMenu  id="expenseSubType" value="#{paymentSummaryMB.selectedExpenseSubType}"
                                      style="width: 150px;" panelStyleClass="panelStyle250"
                                      converter="#{expenseSubTypeConverter}"
                                      rendered="#{paymentSummaryMB.isSubType}">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{paymentSummaryMB.expenseSubTypeList}" var="s" itemLabel="#{s.name}" itemValue="#{s}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Type" rendered="#{paymentSummaryMB.isType}"/>
                    <p:selectOneMenu value="#{paymentSummaryMB.expenseType}"
                                     style="width: 150px;" panelStyleClass="panelStyle250"
                                     rendered="#{paymentSummaryMB.isType}">
                        <f:selectItem itemLabel="Regular" itemValue="Regular" />
                        <f:selectItem itemLabel="Recurring" itemValue="Recurring" />
                    </p:selectOneMenu>
                    <p:commandButton value="Search" actionListener="#{paymentSummaryMB.searchAction()}" update=":frmList:tblList,:frmList:pnlTotals" />
                    <h:commandLink value="Print"  actionListener="#{paymentSummaryMB.reportAction()}" />
                </h:panelGrid>
                

                <p:dataTable id="tblList" value="#{paymentSummaryMB.expensePaymentList}" var="item" rowKey="#{item.id}"
                             rowIndexVar="rowIndex" paginator="true" rows="25" >

                    <p:column headerText="#">
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>
                    <p:column headerText="PaymentDate">
                        <h:outputText value="#{item.paymentDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Main Type">
                        <h:outputText value="#{item.expenseid.expenseSubType.expenseMainType.name}"/>
                    </p:column>
                    <p:column headerText="Sub Type">
                        <h:outputText value="#{item.expenseid.expenseSubType.name}"/>
                    </p:column>
                    <p:column headerText="Ex. Amount">
                        <h:outputText value="#{item.expenseid.expenseAmount}"/>
                    </p:column>
                    <p:column headerText="Amount">
                        <h:outputText value="#{item.amount}"/>
                    </p:column>
                    <p:column headerText="Description">
                        <h:outputText value="#{item.description}"/>
                    </p:column>

                </p:dataTable>
                 <h:panelGrid id="pnlTotals" columns="10" cellpadding="5" cellspacing="5" >
                    <p:outputLabel value="Total Records" />
                    <p:inputText value="#{paymentSummaryMB.totalRecords}" disabled="true" />
                    <p:outputLabel value="Total Amount" />
                    <p:inputText value="#{paymentSummaryMB.totalAmount}" disabled="true" />
                    <p:outputLabel value="Total Paid" />
                    <p:inputText value="#{paymentSummaryMB.totalPaidAmount}" disabled="true" />
                </h:panelGrid>
 

            </h:form>

        </p:panel>
    </ui:define>


</ui:composition>
