<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../../WEB-INF/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:toolBars="http://java.sun.com/jsf/composite/ezcomp/toolbars"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="title">
        Recurring Expense
    </ui:define>


    <ui:define name="content">
        <p:panel header="Recurring Expense" >

            <h:form id="frmData" >
                <!-- TOOLBAR HERE -->
                <toolBars:basicToolBar
                    newAction="#{recurringExpenseMB.newAction()}"
                    saveAction="#{recurringExpenseMB.saveAction()}"
                    reportBtnExporterFileName="Branch List"
                    deleteBtnOnClick="#{recurringExpenseMB.onDeleteBtnClick()}"/>
                <p:growl id="msg" /> 

                <!-- DATA FORM HERE -->
                <h:panelGrid id="pnlData" columns="3" cellpadding="5" cellspacing="5">                    

                    <p:outputLabel value="Prescription:" for="name" />
                    <p:inputText id="name" value="#{recurringExpenseMB.recurringExpense.name}" title="Name" required="true" requiredMessage="The Name field is required."/>
                    <p:message for="name" />

                    <p:outputLabel value="StartDate:" for="startDate" />
                    <p:calendar id="startDate" value="#{recurringExpenseMB.recurringExpense.startDate}" pattern="yyyy-MM-dd" 
                                required="true" requiredMessage="The StartDate field is required."/>
                    <p:message for="startDate" />

                    <p:outputLabel value="RecurringDuration:" for="recurringDuration" />                                
                    <p:inputText id="recurringDuration" value="#{recurringExpenseMB.recurringExpense.recurringDuration}" title="RecurringDuration:" required="true" requiredMessage="The RecurringDuration field is required."/>
                    <p:message for="recurringDuration" />

                    <p:outputLabel value="RecurringType:" for="recurringType" />
                    <p:selectOneMenu id="recurringType" value="#{recurringExpenseMB.recurringExpense.recurringType}" 
                                     required="true" requiredMessage="The RecurringDuration field is required."
                                     style="width: 150px;" panelStyleClass="panelStyle250">
                                                
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItem  itemLabel="Select One" itemValue="#{null}"/>
                        <f:selectItem  itemLabel="Daily" itemValue="Daily"/>
                        <f:selectItem  itemLabel="Monthly" itemValue="Monthly"/>
                        <f:selectItem  itemLabel="Yearly" itemValue="Yearly"/>
                    </p:selectOneMenu>
                    <p:message for="recurringType" />

                    <p:outputLabel value="ExpenseAmount:" for="expenseAmount" />
                    <p:inputText id="expenseAmount" value="#{recurringExpenseMB.recurringExpense.expenseAmount}" title="ExpenseAmount" required="true" requiredMessage="The ExpenseAmount field is required."/>
                    <p:message for="expenseAmount" />

                    <p:outputLabel value="ExpenseMainType:" for="expenseMainType" />
                    <p:selectOneMenu id="expenseMainType" value="#{recurringExpenseMB.expenseMainType}" 
                                     required="true" requiredMessage="The ExpenseMainType field is required."
                                     converter="#{expenseMainTypeConverter}"
                                     style="width: 150px;" panelStyleClass="panelStyle250">
                        
                        <p:ajax listener="#{recurringExpenseMB.onMainTypeChanged()}" update="expenseSubType" />
                        
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" />
                        <f:selectItems value="#{applicationMB.expenseMainTypeList}" var="e" itemLabel="#{e.name}" itemValue="#{e}"/>
                    </p:selectOneMenu>
                    <p:message for="expenseMainType" />


                    <p:outputLabel value="ExpenseSubType:" for="expenseSubType" />
                    <p:selectOneMenu id="expenseSubType" value="#{recurringExpenseMB.recurringExpense.expenseSubType}" 
                                     required="true" requiredMessage="The ExpenseSubType field is required."
                                     converter="#{expenseSubTypeConverter}"
                                     style="width: 150px;" panelStyleClass="panelStyle250">
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItem itemLabel="Select One" itemValue="#{null}"/>
                        <f:selectItems value="#{recurringExpenseMB.expenseSubTypeList}" var="e" itemLabel="#{e.name}" itemValue="#{e}"/>
                    </p:selectOneMenu>
                    <p:message for="expenseSubType" />

                </h:panelGrid>

            </h:form>

            <p:spacer height="20" />
            <h3 style="font-weight: bold">SubType List</h3>
            <p:separator />
            <p:spacer height="10" />

            <!-- LIST FORM HERE -->
            <h:form id="frmList">
                <p:dataTable id="tblList" value="#{recurringExpenseMB.recurringExpenseList}" var="item"
                             selection="#{recurringExpenseMB.recurringExpense}" selectionMode="single" rowKey="#{item.id}"
                             paginator="true" rows="20">

                    <p:ajax update=":frmData:pnlData" event="rowSelect" listener="#{recurringExpenseMB.onRecordSelect}"/>

                    <p:column headerText="Name">
                        <h:outputText value="#{item.name}"/>
                    </p:column>
                    <p:column headerText="StatrDate">
                        <h:outputText value="#{item.startDate}"/>
                    </p:column>
                    <p:column headerText="RecurringDuration">
                        <h:outputText value="#{item.recurringDuration}"/>
                    </p:column>
                    <p:column headerText="RecurringType">
                        <h:outputText value="#{item.recurringType}"/>
                    </p:column>
                    <p:column headerText="Amount">
                        <h:outputText value="#{item.expenseAmount}"/>
                    </p:column>
                </p:dataTable>
            </h:form>


        </p:panel>
    </ui:define>


    <ui:define name="dialog">

        <!-- DELETE CONFIRM -->
        <p:confirmDialog  widgetVar="dlgDeleteConfirm" showEffect="fade" hideEffect="explode" 
                          message="Are you sure?" header="Delete" width="300">  
            <h:form id="frmDeleteConfirm" >
                <p:commandButton value="Yes"  styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 actionListener="#{recurringExpenseMB.deleteAction}" oncomplete="dlgDeleteConfirm.hide()"
                                 update=":frmData:msg,:frmData:pnlData,:frmList:tblList"/>  
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
                                 onclick="dlgDeleteConfirm.hide()" />  
            </h:form>
        </p:confirmDialog>

    </ui:define>

</ui:composition>

